h1{
    color: blue;
    font-size: larger;
    background-color: rgb(255, 187, 86);
    border-radius: 1rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
}

h1:hover{
    background-color:antiquewhite ;
    cursor: pointer;
}
.home{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}


.home-container{
    border-radius: 1rem;
    width: 100vw;
    /* max-width: 100vw; */
    /* background-color: rgb(159, 252, 252); */
        display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.home-container:hover{
    background-color: antiquewhite;
}
